permalink: /:categories/:year/:month/:day/:title

exclude: [".rvmrc", ".rbenv-version", "README.md", "Rakefile", "changelog.md"]

# markdown は「正体がつかめるまで、Jekyll3のデフォルト」で。
# jekyll3の雛形にあったやつ / markdown: kramdown
# 以前のサイトに指定してあったやつ / markdown: redcarpet

markdown: kramdown

kramdown:
 input: GFM
 hard_wrap: false

title : NBM2
tagline: natural born minority
author :
  name : Kazuhito Miura
  email : a@exsample.com
  github : kazuhito-m
  twitter : kazuhito_m
  feedburner : feedname

production_url : http://kazuhito-m.github.io

gems:
  - jemoji
  - jekyll-mentions
  - jekyll-redirect-from
  - jekyll-sitemap
  - jekyll-feed

JB :
  version : 0.3.0

  extensions: [tables,autolink,strikethrough]

  BASE_PATH : false
  ASSET_PATH : false

  archive_path: /archive.html
  categories_path : /categories.html
  tags_path : /tags.html
  atom_path : /atom.xml
  rss_path : /rss.xml

  comments :
    provider : disqus
    disqus :
      short_name : nbm2
    livefyre :
      site_id : 123
    intensedebate :
      account : 123abc
    facebook :
      appid : 123
      num_posts: 5
      width: 580
      colorscheme: light

  analytics :
    provider : google
    google :
        tracking_id : 'UA-63094663-1'
    getclicky :
      site_id :
    mixpanel :
        token : '_MIXPANEL_TOKEN_'
    piwik :
        baseURL : 'myserver.tld/piwik' # Piwik installation address (without protocol)
        idsite : '1'                   # the id of the site on Piwik

  sharing :
    provider : custom

# from Jekyll default settings.

encoding: utf-8
timezone: Asia/Tokyo
future: true
